@import 'src/styles/mixins';

$bg-blue: #0a42ea;
$shadow-blue: #223687;
$text-default: white;

.button {
  box-sizing: border-box;
  width: fit-content;

  white-space: nowrap;
  text-decoration: none;

  cursor: pointer;

  background-color: transparent;
  border: none;
  @include flex(row, center, center, nowrap);

  &.sm {
  }

  &.md {
  }

  &.lg {
  }

  &.blue {
    background: $bg-blue;
    box-shadow: 0 5px 0 $shadow-blue;
    border-radius: 11px;
    padding: 6px;
    color: $text-default;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    svg {
      margin-right: 10px;
    }
  }

  &.pink {
  }
  &.white {
    background: #f4f4f4;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: linear-gradient(98.94deg, #1d125b -22.87%, #090413 94.67%);
  }

  &.outline {
    &:hover,
    &:focus {
    }
  }

  &.disabled {
    &:hover,
    &:focus {
    }
  }
}
