@import 'src/styles/mixins';

$bg-blue: #0a42ea;
$shadow-blue: #223687;
$text-default: white;

.button {
  box-sizing: border-box;
  width: fit-content;

  white-space: nowrap;
  text-decoration: none;

  cursor: pointer;

  background: transparent;
  border: none;
  @include flex(row, center, center, nowrap);

  &.blue {
    padding: 6px;

    font-size: 14px;
    font-weight: 700;
    line-height: 26px;

    color: $text-default;
    background: $bg-blue;
    border-radius: 11px;
    box-shadow: 0 5px 0 $shadow-blue;

    svg {
      margin-right: 10px;
    }
  }

  &.pink {
    padding: 20px;

    font-size: 16px;
    font-weight: 700;
    line-height: 26px;

    color: $text-default;
    background: #c630f6;
    border-radius: 11px;
    box-shadow: 0 5px 0 #6e1989;
  }

  &.white {
    padding: 10px 20px;

    font-size: 16px;
    font-weight: 700;
    line-height: 26px;

    color: linear-gradient(98.94deg, #1d125b -22.87%, #090413 94.67%);
    background: #f4f4f4;
    border-radius: 12px;
    box-shadow: 0 12px 40px rgb(0 0 0 / 10%);
  }

  &.gray {
    padding: 6px 18px;

    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

    color: $text-default;
    background: linear-gradient(0deg, rgb(255 255 255 / 20%), rgb(255 255 255 / 20%));
    border-radius: 12px;
  }

  &.outline {
    padding: 6px 10px;

    box-sizing: border-box;

    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

    color: $text-default;
    border: 1px solid #f4f4f4;
    border-radius: 12px;

    &:hover,
    &:focus {
    }

    &.disabled {
      border: none;
    }
  }

  &.disabled {
    cursor: not-allowed;

    background: rgb(197 196 195 / 50%);

    &:hover,
    &:focus {
    }
  }

  &.sm {
    padding: 6px 10px;
  }

  &.md {
  }

  &.lg {
    padding: 20px;
  }

  &.isFullWidth {
    width: 100%;
  }
}
