@import 'src/styles/variables';

.r-group {
  padding: 6px 6px 8px 0;
  overflow: hidden;
  background: $bg-radio;
  border-radius: 12px;

  &__btn {
    padding: 13px 13px 11px;
    height: auto;
    text-align: center;

    background: $bg-radio-btn;
    box-shadow: 0 5px 0 $bg-radio-btn;
    border-radius: 10px;
    color: $text-primary;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border: none;
    margin-left: 6px;

    &:first-child,
    &:last-child {
      border: none;
      border-radius: 10px;
    }

    &:not(:first-child)::before {
      display: none;
    }

    &:hover {
      color: $text-primary;
    }
    &:focus {
      border: none !important;
    }
  }

  &__text {
    font-weight: 500;
  }

  .ant-radio-button {
    border: none !important;
    input {
      &:focus {
        border: none !important;
      }
    }
  }
  .ant-radio-button-checked {
    border: none !important;
  }
  .ant-radio-button-wrapper-checked {
    background: $bg-accent !important;
    box-shadow: 0 5px 0 #6e1989;
    border-radius: 10px;
    border: none !important;
  }
}
