$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);

// Mobile first
$mediaWidthLaptop: 1440px;
$mediaWidthDesktop: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 550px;

$font-size-default: 16px;
$line-height-default: 20px;

$bg-primary: linear-gradient(0deg, #110847, #110847);
$bg-secondary: #1d1135;

$bg-sidebar: linear-gradient(159.02deg, #300A36 20.74%, #1C0FC6 77.56%, #0511EC 98.67%);
$bg-menu-link: #0A42EA;
$text-primary: #F4F4F4;
