$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);

// Mobile first
$mediaWidthLaptop: 1440px;
$mediaWidthDesktop: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 550px;

$font-size-default: 16px;
$line-height-default: 20px;

$bg-primary: linear-gradient(0deg, #110847, #110847);
$bg-secondary: #1d1135;
$bg-white: #fff;
$bg-footer: #060028;
$bg-divider: #685096;
$bg-purple: #7649fe;

$bg-sidebar: linear-gradient(159.02deg, #300a36 20.74%, #1c0fc6 77.56%, #0511ec 98.67%);
$bg-menu-link: #0a42ea;
$text-primary: #f4f4f4;
