@import 'src/styles/variables';
@import 'src/styles/mixins';

.farms_table_row {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: calc(100% - 100px);
    height: 1px;
    background: $bg-table-divider;
    opacity: 0.3;
    transform: translateX(-50%);

    @include b(tablet) {
      width: 100%;
    }
  }

  .content {
    padding: 35px 30px;
    display: grid;
    align-items: center;
    cursor: pointer;
    grid-template-columns: $columns;
    grid-column-gap: 20px;

    @include b(tablet) {
      padding: 20px 20px 20px 10px;
      grid-template-columns: $columns-tablet;
    }
  }

  .currencies {
    @include flex(row, center);
    @include b(tablet) {
      @include flex(column, flex-start);
    }
    &_pair {
      margin-right: 12px;
      @include b(tablet) {
        margin-bottom: 9px;
      }

      &_item {
        width: 24px;
        height: 24px;

        &:last-child {
          margin-left: -5px;
        }
      }
    }
  }

  .earned {
    @include b(tablet) {
      @include flex(column, flex-start);
    }
  }

  .value {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }

  .label {
    display: none;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.3;
    font-weight: 400;
    @include b(tablet) {
      display: block;
      margin-bottom: 5px;
    }
  }

  .apr_btn {
    @include b(tablet) {
      display: none;
    }
  }

  .apr,
  .liquidity,
  .multiplier {
    @include flex(row, center);
    gap: 10px;
  }

  .apr {
    @include b(tablet) {
      @include flex(column, flex-start);
      gap: 0;
    }
  }
  .liquidity,
  .multiplier {
    @include b(tablet) {
      display: none;
    }
  }

  .details_btn {
    @include b(tablet) {
      display: none;
    }
    margin-left: auto;
    .arrow_dropdown {
      @include flex(row, center);
      margin-left: 10px;
    }
  }
  .arrow_dropdown_mob {
    display: none;

    @include b(tablet) {
      display: flex;
    }
  }

  .farm_details {
    padding: 10px 59px 11px 26px;
    overflow: hidden;
    background: $bg-farm-details;
    @include flex(row, center, flex-start, wrap);

    @include b(tablet) {
      padding: 8px 10px 23px;
      @include flex(column-reverse);
    }

    .actions {
      margin-left: auto;
      @include flex(row, center, flex-start, nowrap);
      @include b(tablet) {
        @include flex(column);
        margin-left: 0;
        gap: 10px;
        margin-bottom: 20px;
      }
    }
    .container {
      align-self: stretch;
      background: $bg-container-opacity;
      border-radius: 12px;
      .title {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 12px;
        @include b(tablet) {
          text-align: center;
        }
      }
    }
    .earned_wrapper {
      width: 450px;
      margin-right: 10px;
      padding: 20px 32px 42px 30px;
      @include b(tablet) {
        width: 100%;
        padding: 20px 10px;
      }

      .harvest_container {
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 12px;
        padding: 21px 20px 21px 21px;
        @include flex(row, center, space-between);
        .earned {
          font-size: 25px;
          line-height: 31px;
        }
      }
    }

    .actions_wrapper {
      width: 262px;
      padding: 20px 30px;
      @include b(tablet) {
        width: 100%;
        padding: 20px 10px;
      }
    }
  }
}

:global(.show_farm_details-enter) {
  padding: 0;
  max-height: 0;
}

:global(.show_farm_details-enter-active) {
  padding: 10px 0;
  max-height: 192px;
  transition: padding 300ms, max-height 300ms;
}

:global(.show_farm_details-exit) {
  padding: 10px 0;
  max-height: 192px;
}

:global(.show_farm_details-exit-active) {
  padding: 0;
  max-height: 0;
  transition: padding 300ms, max-height 300ms;
}
