@import 'src/styles/variables';
@import 'src/styles/mixins';

.coming_soon_wrapper {
  width: 100%;
  @include flex(column, center, center);
  @include b(tablet) {
    padding: 72px 10px 0;
  }

  .logo_wrapper {
    @include flex(row, center, flex-start, nowrap);
    margin-top: 20px;

    :nth-child(2) {
      margin-top: 9px;
      margin-left: 1px;
    }
  }

  .coming_soon {
    position: relative;

    margin-top: 82px;

    width: 316px;
    @include b(extramobile) {
      width: 70%;
    }

    img {
      object-fit: cover;

      max-width: 100%;
    }

    .title {
      position: absolute;
      left: -148px;
      bottom: -55px;

      font-family: 'Gemina', sans-serif;
      font-size: 120px;
      line-height: 100%;
      text-align: center;
      @include b(extramobile) {
        left: -10px;
        bottom: 0;

        font-size: 60px;
      }
    }
  }
}
