@import 'src/styles/variables';
@import 'src/styles/mixins';

.modal_wrapper {
  position: relative;
  max-width: 390px;
  width: 100%;
  background: $bg-container;
  box-shadow: 0 12px 40px rgba(85, 32, 142, 0.25);
  border-radius: 12px;
  padding: 20px;

  .modal_header {
    @include flex(row, center, space-between);
    font-size: 18px;
    line-height: 22px;
  }
  .modal_close {
    cursor: pointer;
  }
}
