@import 'src/styles/variables';
@import 'src/styles/mixins';

.modal_wrapper {
  position: relative;

  padding: 20px;

  width: 100%;
  max-width: 390px;

  background: $bg-container;
  border-radius: 12px;
  box-shadow: 0 12px 40px rgb(85 32 142 / 25%);

  .modal_header {
    @include flex(row, center, space-between);
    font-size: 18px;
    line-height: 22px;
  }

  .modal_close {
    cursor: pointer;
  }
}
