@import 'src/styles/variables';
@import 'src/styles/mixins';

.input {
  margin-left: 12px;
  padding: 14px 14px 15px;

  width: 100%;
  max-width: 190px;

  background: rgb(255 255 255 / 10%);
  border: none;
  border-radius: 12px;
  @include flex(row, center, flex-start, nowrap);

  &_img {
    position: relative;

    margin-right: 10px;

    display: block;

    width: 21px;
    height: 21px;

    cursor: pointer;

    &::before {
      content: '';

      position: absolute;

      width: 21px;
      height: 21px;

      background-image: url('../../assets/img/icons/magnifier.svg');
    }
  }

  &__item {
    box-sizing: border-box;
    width: 100%;

    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.035em;

    color: $text-primary;
    background-color: transparent;

    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;

    transition: all 0.2s ease-out;

    &::placeholder {
      color: $text-primary;
    }
  }
}
