@import 'src/styles/variables';
@import 'src/styles/mixins';

.farms_wrapper {
  padding: 23px 0 0;

  width: 100%;

  .farms_preview {
    padding: 41px 42px 39px;

    background: url('src/assets/img/farms_preview.png');
    background-size: cover;
    border-radius: 12px;
    @include b(mobile) {
      background: url('src/assets/img/farms_preview_sm.png');
      background-size: cover;
    }

    .title {
      font-size: 60px;
      font-weight: 700;
      line-height: 75px;

      @include b(mobile) {
        font-size: 40px;
        line-height: 50px;
      }
    }

    .subtitle {
      margin-top: 12px;
    }
  }
}
