@import 'src/styles/variables';
@import 'src/styles/mixins';

.header_wrapper {
  position: relative;
  z-index: 110;

  margin: 0 auto;
  padding: 0 10px;

  width: 100%;
  max-width: 1120px;
  @include b(tablet) {
    padding: 0 12px 0 18px;

    height: 72px;
    @include flex(row, center);
    background: $bg-primary;
  }

  &.hide {
    display: none;
    @include b(tablet) {
      @include flex(row, center);
    }
  }

  .header {
    @include flex(row, center, flex-end);
    padding: 0 20px;

    height: 62px;

    border-radius: 12px 0 0 12px;
    //background-color: rgb(255 255 255 / 10%);
    @include b(tablet) {
      margin: 0;
      padding: 0;

      justify-content: flex-start;

      width: 100%;

      background-color: transparent;
      border: 0;
    }

    .logo_mobile {
      margin-left: 13px;

      display: none;
      @include b(tablet) {
        display: block;
      }
    }

    .audits {
      margin-left: auto;
      @include flex(row, center);
      @include b(tablet) {
        display: none;
      }

      :first-child {
        margin-right: 26px;
      }

      :nth-child(2) {
        margin-right: 21px;
      }
    }

    .audits_sm {
      margin-left: auto;

      display: none;
      @include b(tablet) {
        @include flex(row, center);
      }

      :first-child {
        margin-right: 15px;
      }

      :nth-child(2) {
        margin-right: 23px;
      }
    }

    .btn_mobile {
      @include b(tablet) {
        font-size: 10px;
        line-height: 26px;

        svg {
          display: none;
        }
      }
    }
  }
}
