@import 'src/styles/variables';
@import 'src/styles/mixins';

.footer_wrapper {
  z-index: 10;
  position: relative;
  background: $bg-footer;
  width: 100%;
  padding: 63px 10px 67px;
  overflow: hidden;

  .footer {
    position: relative;
    z-index: 10;
    @include flex(column, center, center);
  }
  .logo {
    margin-bottom: 47px;
    @include flex(row, center, flex-start, nowrap);
    :nth-child(2) {
      margin-top: 15px;
      margin-left: 1px;
    }
    .desktop {
      display: block;
      @include b(tablet) {
        display: none;
      }
    }
    .mobile {
      display: none;
      @include b(tablet) {
        display: block;
      }
    }
  }

  .links {
    @include flex(row, normal, normal, nowrap);
    max-width: 450px;

    .link_block {
      @include flex(column, flex-start);
      @include b(tablet) {
        align-items: center;
      }
      &:nth-of-type(2) {
        margin-left: 60px;
        margin-right: 29px;
        @include b(tablet) {
          margin: 0 25px;
        }
      }
      .link {
        white-space: nowrap;
        margin-bottom: 13px;
        &:last-of-type {
          margin-bottom: 0;
        }
        @include b(tablet) {
          font-size: 13px;
          line-height: 16px;
        }
      }
    }
  }

  .join_wrapper {
    margin-top: 52px;
    margin-bottom: 59px;
    @include flex(column, center);

    .title {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
    }
    .subtitle {
      font-size: 14px;
      line-height: 17px;
      opacity: 0.5;
      margin-top: 6px;
      margin-bottom: 17px;
    }
    .socials {
      @include flex(row, center, space-between);
      gap: 13px;
    }
  }

  .policies {
    margin-top: 50px;
    :first-child {
      margin-right: 24px;
    }
  }

  .bg {
    z-index: 0;
    position: absolute;
    background: rgba(215, 21, 255, 0.2);
    width: 875px;
    height: 875px;
    bottom: -568px;
    left: calc(50% - 437px);
    filter: blur(250px);
    @include b(tablet) {
      width: 196px;
      height: 196px;
      bottom: -49px;
      left: calc(50% - 98px);
      filter: blur(100px);
    }
  }
}
