@import 'src/styles/variables';
@import 'src/styles/mixins';

.sidebar_wrapper {
  position: fixed;
  max-width: 240px;
  width: 100%;
  height: 100vh;
  z-index: 60;

  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  @include flex(row);
  @include b(tablet) {
    max-width: 135px;
    background: $bg-primary;
    margin-top: 72px;
    left: -100%;
    visibility: visible;
    transition: all 0.3s ease 0s;
  }
  &.active {
    width: 100%;
    left: 0;
    visibility: visible;
  }

  .sidebar {
    padding: 24px 13px 0 0;
    flex-grow: 1;
    width: 100%;

    @include b(tablet) {
      padding: 0;
      background: linear-gradient(180deg, #2e1d8f 0%, #1f1080 100%);
      box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
    }

    .logo_wrapper {
      @include flex(row, flex-start, flex-start, nowrap);
      margin-left: 20px;
      :nth-child(2) {
        margin-top: 9px;
        margin-left: 1px;
      }
      @include b(tablet) {
        display: none;
      }
    }

    .btn_mobile {
      width: calc(100% - 20px);
      margin-left: 20px;
      display: none;
      @include b(tablet) {
        display: block;
      }
    }

    .menu {
      @include flex(column, flex-start);
      margin-top: 30px;

      @include b(tablet) {
        margin-top: 0;
      }
      .menu_link {
        cursor: pointer;
        width: 100%;
        padding-left: 20px;
        height: 44px;
        @include flex(row, center, flex-start);
        @include b(tablet) {
          padding-left: 5px;
        }
        span {
          margin-left: 10px;
          @include b(tablet) {
            font-size: 12px;
            line-height: 15px;
            margin-left: 6px;
          }
        }
        img {
          @include b(tablet) {
            width: 14px;
            height: 14px;
          }
        }
        .soon {
          background: linear-gradient(132.83deg, #d715ff 0%, #1a26ff 75.95%);
          border-radius: 12px;
          padding: 3px 8px;
          font-size: 14px;
          line-height: 17px;
          margin-left: auto;
          @include b(tablet) {
            font-size: 9px;
            line-height: 11px;
            padding: 4px;
            margin-right: 5px;
          }
        }
        &.active {
          background: $bg-menu-link;
          border-radius: 0 8px 8px 0;
        }

        &_arrow {
          margin-left: auto;
          margin-right: 20px;
          @include flex(row, center, center);
          transition: transform 0.3s;
          img {
            width: 8px;
            height: 4px;
          }
          &.active {
            transform: rotate(180deg);
          }
        }
      }

      .show_more_wrapper {
        width: 100%;
        padding: 39px 53px 12px;
        @include flex(column, flex-start);
        overflow: hidden;
        text-overflow: ellipsis;
        @include b(tablet) {
          padding: 19px 10px;
          font-size: 12px;
          line-height: 15px;
        }

        .show_more_link {
          white-space: nowrap;
          margin-bottom: 20px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
.sidebar_cover {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  @include b(tablet) {
    position: fixed;
    width: 200vh;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 50;
    display: none;
    &.active {
      display: block;
    }
  }
}

:global(.show_more-enter) {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
}
:global(.show_more-enter-active) {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 300ms, opacity 500ms;
}
:global(.show_more-exit) {
  max-height: 1000px;
  opacity: 1;
}
:global(.show_more-exit-active) {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transition: max-height 300ms, opacity 300ms;
}
